.dim {
    color : #c6c6c6;
}

.editItem {
    border : 1px solid white;
    border-radius: 6px;
    padding : 6px;
    font-family : arial;
}

.editItem:hover {
    cursor : pointer;
    border-color : #d6d6d6;
}

.settings-listing .section {
    margin-bottom : 1em;
}
